:root {
    --green: rgb(65, 182, 98);
    --blue: rgb(78, 173, 236);
}

body {
}

nav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.nav-bg {
    position: relative;
    z-index: -1;
    top: 0;
    width: 100%;
    height: calc(56px + 80%);
    background: linear-gradient(to bottom, var(--green) 50%, var(--blue) 50%);
    transition: 0.2s;
}
.nav-bg-on {
    top: -80%;
}

/* .send {
    background: linear-gradient(to bottom, var(--green) 70%, var(--blue) 80%);
    transition: 0.2s;
}

.receive {
    background: linear-gradient(to bottom, var(--green) 20%, var(--blue) 30%);
    transition: 0.2s;
} */

nav .sidenav-trigger {
    float: unset;
    position: absolute;
    top: 0;
    width: 56px;
    height: 56px;
    margin: 0;
}

.sidenav {
    /* background-color: #23863F; */
}


.user-view {
    padding: 0 !important;
    height: 144px;
}
.background {
    height: 100%;
    background-image: url("../images/logo/main-logo.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.sidenav-footer {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    color: rgba(0, 0, 0, 0.26);
}
.sidenav-footer .item {
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}


/* 메뉴 버튼 */
.menu-open-button {
    width: 56px !important;
    height: 56px !important;
    position: absolute !important;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}
.menu-open {
    display: none;
}
.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}
.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
    transform: translate3d(0, 0, 0);
}
.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
/* 메뉴 버튼 - 끝 */

/* 스위치 */
.switch {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 56px;
    line-height: 56px;
    text-align: right;
}
/* 스위치 - 끝 */


main {
    display : flex;
    align-items : center;
    justify-content : center;
    height : calc(100vh - 56px);
}

form {
    width: 90%;
}

.key-field {
    margin: 0 0 3rem;
}
.coin-field {
    margin: 3rem 0;
    width: 70%;
}
.destination-field {
    width: 90%;
    margin: 3rem 0 auto;
}

.display-none {
    display: none;
}


.blue-input input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

.blue-input input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #2196F3;
}

.blue-input .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #2196F3;
}

.blue-input .dropdown-content li>span {
    color: #2196F3;
}

.blue-input .lookup-field {
    font-size: 1.5rem;
    color: #2196F3;
}

#submit-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}


button[type="submit"] img {
    width: 50%;
    height: 50%;
    margin: 25%;
}